Json_Node-red/flows.json
[{"id":"7233b85d.0657a8","type":"tab","label":"Challenge MQTT IOT","disabled":false,"info":""},{"id":"ca371eab.b5fbc8","type":"aedes broker","z":"7233b85d.0657a8","name":"BROKER","mqtt_port":"1888","mqtt_ws_bind":"port","mqtt_ws_port":"","mqtt_ws_path":"","cert":"","key":"","certname":"","keyname":"","dburl":"","usetls":false,"x":580,"y":400,"wires":[["8cfa12fc.7535c"]]},{"id":"f43d3a4c.108398","type":"mqtt in","z":"7233b85d.0657a8","name":"","topic":"Leitor RFID","qos":"0","datatype":"auto","broker":"79c37d67.566314","x":1010,"y":180,"wires":[["cde0c856.477be8","acc6ea6f.7a88a8"]]},{"id":"ac90e7e1.28bb1","type":"mqtt out","z":"7233b85d.0657a8","name":"","topic":"Leitor RFID","qos":"0","retain":"","broker":"79c37d67.566314","x":850,"y":180,"wires":[]},{"id":"8cfa12fc.7535c","type":"debug","z":"7233b85d.0657a8","name":"ENVIADO","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"topic","targetType":"msg","statusVal":"","statusType":"auto","x":780,"y":440,"wires":[]},{"id":"cde0c856.477be8","type":"debug","z":"7233b85d.0657a8","name":"RECEBIDO","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":990,"y":300,"wires":[]},{"id":"c16fef66.b9cbf","type":"inject","z":"7233b85d.0657a8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"Etiqueta RFID","payload":"1","payloadType":"num","x":420,"y":80,"wires":[["2cec0c37.ace3f4"]]},{"id":"2cec0c37.ace3f4","type":"switch","z":"7233b85d.0657a8","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"num"},{"t":"eq","v":"0","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":510,"y":160,"wires":[["311344d9.b38a5c"],["75bce4de.6f3fe4"]]},{"id":"5b0d791d.90b3b8","type":"inject","z":"7233b85d.0657a8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"Não tem Etiqueta","payload":"0","payloadType":"num","x":410,"y":260,"wires":[["2cec0c37.ace3f4"]]},{"id":"75bce4de.6f3fe4","type":"change","z":"7233b85d.0657a8","name":"Verificando Mensagem","rules":[{"t":"set","p":"payload","pt":"msg","to":"Não tem etiqueta","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":680,"y":260,"wires":[["ac90e7e1.28bb1"]]},{"id":"311344d9.b38a5c","type":"function","z":"7233b85d.0657a8","name":"","func":"msg.payload = \"Etiqueta dentro da Mochila\";\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":680,"y":100,"wires":[["ac90e7e1.28bb1"]]},{"id":"acc6ea6f.7a88a8","type":"arduino out","z":"7233b85d.0657a8","name":"Leitor RFID","pin":"D5","state":"PWM","arduino":"d2cf6ac4.b1a358","x":1010,"y":60,"wires":[]},{"id":"79c37d67.566314","type":"mqtt-broker","name":"","broker":"localhost","port":"1888","clientid":"Servidor","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"d2cf6ac4.b1a358","type":"arduino-board","device":"COM5"}]